## virtual environments
venv/
venv310/
venv310/*

## MSD
MillionSongSubset/
MillionSongSubset/charts.csv
MSD_test_files/MillionSongSubset/

## mp3 files
song_mp3/

## DS Store
.DS_Store

## msaf analysis
estimations/
.features_msaf_tmp.json